<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sudoku Solver</title>
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
  </style>
    <style>
    body {
      background-color:rgba(221, 226, 227, 0);
      font-family: 'Lato', sans-serif;
    }
    table, th, td {
      border-style: solid;
      border-width: 1.5px;
      border-color: rgb(187, 195, 187, 1);
      border-collapse: collapse;
      background-color: white;
    }
    table {
      border-style: solid;
      border-width: 2px;
      border-color: rgb(187, 195, 187, 1);
      border-collapse: collapse;
    }
    td {
      width:40px;
      height:40px;
      text-align: center;
      }
    input {
      border-color: white;
      border-width: 0px;
      width:35px;
  	  height:35px;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 120%;
      size: 1
    }
    .button {
      width:129px;
      height:45px;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button1 {
      background-color: white;
      color: black;
      border: 2px solid rgb(57, 105, 152);
    }
    .button1:hover {
      background-color: rgb(57, 105, 152);
      color: white;
    }
  }
  </style>
</head>

<body>
<!--<form method="GET" th:object="${output}">-->

    <p style="font-size:300%; padding-top: 25px; padding-bottom: 5px; margin: 20px; margin-bottom: 0px; margin-left: 70px">Sudoku Solver</p>
    <table style="margin: 20px; margin-left: 70px">
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v11}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v21}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v31}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v41}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v51}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v61}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v71}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v81}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v91}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v12}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v22}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v32}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v42}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v52}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v62}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v72}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v82}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v92}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v13}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v23}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v33}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v43}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v53}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v63}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v73}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v83}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v93}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v14}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v24}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v34}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v44}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v54}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v64}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v74}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v84}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v94}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v15}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v25}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v35}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v45}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v55}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v65}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v75}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v85}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v95}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v16}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v26}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v36}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v46}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v56}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v66}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v76}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v86}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v96}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v17}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v27}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v37}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v47}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v57}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v67}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v77}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v87}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v97}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v18}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v28}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v38}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v48}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v58}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v68}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v78}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v88}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v98}"/></td>
        </tr>
        <tr>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v19}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v29}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v39}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v49}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v59}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v69}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v79}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v89}"/></td>
            <td><p style="margin-top: 0px; margin-bottom: 0px; font-size: 120%;" th:text="${output.v99}"/></td>
        </tr>
    </table>
<p style="font-size:100%; padding-top: 0px; padding-bottom: 5px; margin: 20px; margin-left: 70px; margin-top: 0px; margin-bottom: 0px;">Operation time: <span th:text=${output.totalTime}></span> milliseconds</p>
<p style="font-size:100%; padding-top: 0px; padding-bottom: 5px; margin: 20px; margin-left: 70px; margin-top: 0px">Number of iterations: <span th:text=${output.iterNr}></span></p>
<!--</form>-->

<form action="/solve">
<button style = "margin-left: 70px" class="button button1" >Try again</button>
</form>
<br>
<!--<img style = "margin-left: 50px" src="/src/main/resources/static/images/javalogo.png"  width="80" height="80">-->
<!--<img style = "margin-left: 30px" src="/src/main/resources/static/images/mysqllogo.png"  width="96" height="50">-->
</body>
</html>